
.jumbotron{
  background-color: white;
}
.pmg-background-img{
  border-radius: 0 !important;
  position: relative;
  background: rgba(0, 0, 0, 0.1); /* If our image is bright, we can tone it down with this darker overlay */
  padding-top:100px;
  padding-bottom:100px;
}
.pmg-background-img:after{
  content: "";
  position: absolute;
  background-image: url("../images/programing.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  opacity: 0.5; /* Tone the image down further by giving it transparency */
}
.pmg-background-img:hover,.stu-background-img:hover{
  background: rgba(120, 194, 173, 0.5);
}
.mkt-background-img:hover{
  background: rgba(243, 150, 154, 0.5);
}
.mkt-background-img{
  border-radius: 0 !important;
  position: relative;
  background: rgba(0, 0, 0, 0.1); /* If our image is bright, we can tone it down with this darker overlay */
  padding-top:100px;
  padding-bottom:100px;
}
.mkt-background-img:after{
  content: "";
  position: absolute;
  background-image: url("../images/marketing.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  opacity: 0.5; /* Tone the image down further by giving it transparency */
}
.stu-background-img{
  border-radius: 0 !important;
  position: relative;
  background: rgba(0, 0, 0, 0.1); /* If our image is bright, we can tone it down with this darker overlay */
  padding-top:100px;
  padding-bottom:100px;
}
.stu-background-img:after{
  content: "";
  position: absolute;
  background-image: url("../images/startup.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  opacity: 0.5; /* Tone the image down further by giving it transparency */
}
/* -------------------------------- 

clip style

-------------------------------- */
.cd-title {
  position: relative;
  height: 160px;
  line-height: 230px;
  text-align: center;
}
.cd-title h1 {
  font-size: 2rem;
  font-weight: 700;
}
@media only screen and (min-width: 768px) {
  .cd-title {
    line-height: 250px;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-title {
    height: 200px;
    line-height: 300px;
  }
  .cd-title h1 {
    font-size: 2rem;
  }
}

.cd-intro {
  width: 90%;
  max-width: 768px;
  text-align: center;
}

.cd-intro {
  margin: 3em auto;
}
@media only screen and (min-width: 768px) {
  .cd-intro {
    margin: 3em auto;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-intro {
    margin: 4em auto;
  }
}

.cd-headline {
  font-size: 1.3em;
  line-height: 1.2;
}
@media only screen and (min-width: 768px) {
  .cd-headline {
    font-size: 2.4em;
    font-weight: 300;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-headline {
    font-size: 3.3em;
  }
}

.cd-words-wrapper {
  display: inline-block;
  position: relative;
  text-align: left;
}
.cd-words-wrapper b {
  display: inline-block;
  position: absolute;
  white-space: nowrap;
  left: 0;
  top: 0;
}
.cd-words-wrapper b.is-visible {
  position: relative;
}
.no-js .cd-words-wrapper b {
  opacity: 0;
}
.no-js .cd-words-wrapper b.is-visible {
  opacity: 1;
}

.cd-intro {
  width: 90%;
  max-width: 768px;
  text-align: center;
}

.cd-headline.clip span {
  display: inline-block;
  padding: .2em 0;
}
.cd-headline.clip .cd-words-wrapper {
  overflow: hidden;
  vertical-align: top;
}
.cd-headline.clip .cd-words-wrapper::after {
  /* line */
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 2px;
  height: 100%;
}
.cd-headline.clip b {
  opacity: 0;
}
.cd-headline.clip b.is-visible {
  opacity: 1;
}